body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    margin: 20px 0;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.slider div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.slider-big-img{
    max-width: 100%;
    margin-top: 20px;
}